<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>
    <property name="connection.url">jdbc:derby:SudokuDB;create=true</property>
    <!--<property name="connection.url">jdbc:derby://localhost:1527/eleaveDB;create=true</property>-->
    <property name="connection.username">sudoku</property>
    <property name="connection.password">sudoku</property>
    <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
    <!--<property name="connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>-->
    <property name="show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="sudoku.models.Users"/>
    <mapping class="sudoku.models.Score"/>
    <mapping class="sudoku.models.Block"/>
    <mapping class="sudoku.models.Game"/>
    <mapping class="sudoku.models.Hard"/>
    <mapping class="sudoku.models.Easy"/>
    <mapping class="sudoku.models.Medium"/>
  </session-factory>
</hibernate-configuration>
